/* Creates a thin border and even spacing around every element */
* {
    border: 2px solid black;
    border-radius: 10px;
    margin: 4px;
    padding: 4px;
    font-family: eurostile, sans-serif;
    /* font-weight: lighter; */
    /* font-family: futura, sans-serif; */
    font-weight: normal;
    color: black;
}

/* Color variables defined */
:root {
    --grey: rgb(32, 32, 40);
    --blue: rgb(0, 0, 64);
    --teal: rgb(0, 80, 80);
    --green: rgb(0, 128, 64);
    --mint: rgb(0, 192, 96);
    --cloudy: rgba(255, 255, 255, 0.5);
    --pastelGreen: rgba(144, 223, 160, 0.75);
    --pastelBlue: rgba(130, 185, 252, 0.75);
}

/* Sets initial parameters around each type of tag used in the html doc */
html {
    background-color: var(--grey);
    border-width: 0;
    margin: 0;
    padding: 0;
}

body {
    /* border-color: var(--blue); */
    border-width: 0;
    margin: 0;
    /* padding: 0; */
}

header {
    display: flex;
    border-color: var(--teal);
    border-width: 0;
    padding: 0;
    margin: 0;
}

section {
    display: flex;
    border-color: var(--teal);
    border-width: 0;
    padding: 0;
    margin: 0;
}

div,
address {
    align-items: center;
    border-color: var(--green);
    flex: 1 1;
}

footer {
    border-color: var(--teal);
    text-align: center;
    border-width: 0;
    padding: 0;
    margin: 0;
}

address {
    justify-content: space-evenly;
}

address,
footer {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 24pt;
    background-color: var(--pastelGreen);
    /* background: var(--mint); */
}

h2 {
    font-size: 18pt;
}

p {
    font-size: 16pt;
    background: var(--cloudy);
}

a {
    text-decoration-line: none;
    background-color: var(--cloudy);
    font-size: 18pt;
}

.small a {
    font-size: 24pt;
}

/* Places a gradient image on link elements when they are hovered over with the cursor */
a:hover {
    color: white;
    background-image: linear-gradient(var(--mint),
            var(--blue));
    text-shadow: 2px 2px 2px black;
}



/* Specifies text attributes and layout for individual elements */
#image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("images/solarpunk.png");
    height: 150px;
    border-color: black;
    border-width: 2px;
    margin: 4px;
    padding: 4px;
}

#image h1 {
    background-color: var(--cloudy);
}

.title {
    flex: 0.3 0.3;
    text-align: right;
    border-width: 0;
    padding: 0;
    margin: 0;
}

.title h1 {
    font-size: 4vw;
}

.content {
    border-width: 0;
    padding: 0;
    margin: 0;
}

#work {
    border-width: 0;
    padding: 0;
    margin: 0;
}

#work h2 {
    flex: 1 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Differentiates the first projects from the others with a substantial height difference */
#work .small h2 {
    height: 300px;
}

#work .big h2 {
    height: 150px;
}

#name {
    border-width: 0;
    margin: 0;
    padding: 0;
    text-align: right;
    flex: 1 1;
}

#name h1 {
    font-size: 4vw;
    /* border-color: var(--mint); */
    border-color: black;
    /* color: var(--green); */
    background-color: var(--pastelBlue);
    /* text-shadow: 2px 2px 2px black; */
}

#shortcuts {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex: 2 2;
    border-width: 0;
    padding: 0;
    margin: 0;
}

#shortcuts a {
    /* position: absolute; */
}

#me {
    border-width: 0;
    padding: 0;
    margin: 0;
}

#me p {
    /* background: none;
    color: var(--cloudy);
    border-color: var(--cloudy); */
}

.big,
.small {
    border-width: 0;
    margin: 0;
    padding: 0;
    /* border-color: var(--mint); */
    display: flex;
    flex-wrap: wrap;
}

/* Placeholder images for future projects */
#wow {
    background-image: url("images/36375566_1950022561967371_1912403655345045504_o.jpg");
}

#project {
    background-image: url("images/r775562_6639716.jpg");
}

#code {
    background-image: url("images/super-trees-gardens-bay-singapore-105551731.jpg");
}

#pollution {
    background-image: url("images/7f1e0d2ac3bd87d6f57f73492d3bf6d1.jpg");
}

#spicy {
    background-image: url("images/1033b72b0d4c935ac1151d8cecddac8e.jpg");
}

#me,
footer a {
    flex: 1 1;
}

/* Organization of elements changes at varying screen widths */
@media screen and (max-width: 980px) {

    header,
    section,
    #work {
        display: block;
    }

    #name {
        text-align: center;
    }

    #shortcuts {
        justify-content: center;
    }

    .title {
        text-align: left;
    }
}

@media screen and (max-width: 768px) {

    .big {
        display: block;
    }

    .content, address {
        /* display: block; */
    }

    .small a {
        font-size: 18pt;
    }

    address a, .content a {
        /* display: block; */
        justify-content: flex-start;
        flex-direction: column;
    }

    #image,
    #work h2 {
        justify-content: center;
    }

    #work .small h2 {
        height: 150px;
    }
}